<div class="card shadow-lg" style="width: 95%">
  <div class="card-header rounded" style="background-color: #0F2E33">
    <ul class="nav nav-tabs card-header-tabs justify-content-center">
      <li class="nav-item rounded" style="width: 50%">
        <a class="nav-link text-center active" href="#" style="font-family: SansationBold">my coupons</a>
      </li>
      <li class="nav-item" style="width: 50%">
        <a class="nav-link text-center" href="#" style="font-family: SansationBold">others</a>
      </li>
    </ul>
  </div>
  <div class="card-body">


    <div class="row">
      <div class="col-6">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
