@font-face {
  font-family: Sansation;
  src: url("assets/fonts/Sansation_Light.ttf");
}

@font-face {
  font-family: SansationBold;
  src: url("assets/fonts/Sansation_Bold.ttf");
}

html{
  background-color: #bdbdbd;
}
